<div class="form">


<div class="1">
   <h1><%= @user.user_name %>
      <br>
<% if @user == current_user %>
      <%= link_to edit_user_registration_path do %>
                              <i class="fas fa-cog"></i>
                              <% end %>
                              <% end %>
   </h1>


</div>

<hr>
<h4><%= @user.bio %></h4>
<br>
<p>
<% if current_user %>
   <% @relationship = current_user.sent_invites.where(invited_id: @user.id).first %>

   <% if @relationship %>
      <%= link_to "Stop following", @relationship, method: :delete, class: 'btn btn-primary' %>

   <% else %>
      <%= form_for :relationship, url: relationships_path, html: { method: :post } do |f| %>
         <%= f.hidden_field :invited_id, value: @user.id %>
         <%= f.submit 'Follow', class: 'btn btn-primary' %>
      <% end %>
   <% end %>
<% end %>
<% if @user == current_user %>
   <style media="screen">
      input{
         display: none;
         visibility:hidden;
      }
   </style>


   
   <%= link_to "Shared Cards", cards_shared_path %>



   <%#= link_to 'Back', cards_path %>
      <div class="friends">
      <%= link_to users_index_path do %>
         <i class="fas fa-search fa-7x"></i>
         <% end %>
      <%= link_to relationships_path do %>
         <i class="fas fa-heart fa-7x"></i>
      <% end %>
      </div>
   <%= link_to "logout", destroy_user_session_path, method: :delete %>
<% end  %>
</p>
<!-- E-Mail: <%#= current_user.email %> -->
<br><br>

</div>
<%#= link_to "edit info", users_edit_path %>
<%#= link_to 'Back', cards_path %>
