<p id="notice"><%= notice %></p>
<div class='form'>
<h1>Cards</h1>

<%= select_tag("category", options_for_select(["All", "Gift", "Membership", "Rewards"]), {class: 'form-control'}) %>

<button><%= link_to "EXPIRED CARDS", cards_expired_path %>  </button>

<table id="myTable" class="row-border">
  <thead>
    <tr class="header">
      <th class='comp'>Company name</th>
      <th class='catagory'>Category</th>
      <th class='amount'>Amount</th>
      <th class='expire'>Expire</th>
    </tr>
  </thead>
  <tbody class='tbodycards'>
    <% @cards.each do |card| %>
      <tr class='card'>
         <td class='card-title'><%= link_to card.company_name, card %></td>
         <td ><%= card.category %></td>
         <td >$<%= card.amount %></td>
         <td ><%= card.expire %></td>
         <!-- <td><%#= link_to 'Edit', edit_card_path(card) %></td> -->
         <!-- <td><%#= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%#= link_to 'New Card', new_card_path %>
