
<div class='form'>
   <div class="titleselec">
     <h2 class="card-title">My Card Vault</h2>
     <span class='mcv_menu'>
       <%= select_tag("category", options_for_select(["All", "Gift", "Membership", "Rewards"]), {class: 'form-control form1'}) %>
       <button class="btn btn-danger" id='expbtn'><%= link_to "EXPIRED CARDS", cards_expired_path %> </button>
     </span>
     <br>
   </div>

<div>

</div>
<table id="myTable" class="row-border">
  <thead>
    <tr class="header">
      <th class='comp'>Company name</th>
      <th class='catagory'>Category</th>
      <th class='amount'>Amount</th>
      <th class='expire'>Expire</th>
    </tr>
  </thead>
  <tbody class='tbodycards'>
    <% @cards.each do |card| %>
      <tr class='card'>
         <td class='card_title'><strong><%= link_to card.company_name, card %></strong></td>
         <td class="extra"><i><%= card.category %> Card<i></td>
         <td class="extra"><% if card.amount? %>$<%= card.amount %><% end %></td>
         <td class="extra"><%= card.expire %></td>
         <!-- <td><%#= link_to 'Edit', edit_card_path(card) %></td> -->
         <!-- <td><%#= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>

    <% end %>
  </tbody>
</table>
</div>
<br>

<%#= link_to 'New Card', new_card_path %>
