<div class="form">

<h2 align="center"><%= @card.company_name %> <%= @card.category %> Card</h2>
<!-- <p>
  <%#= @card.category %> Card
</p> -->

<h3 align="center">
  <% if @card.amount? %><hr><strong>$<%= @card.amount %></strong><hr><% end %>
</h3>
<br><br>
<h4>
   <% if @card.card_number? %><strong>Card Nmber: <%= @card.card_number %></strong><% end %>
</h4>

<h4>
   <% if @card.expire? %><strong>Expire Date: <%= @card.expire %></strong><% end %>

</h4>

<%= link_to 'Edit Card', edit_card_path(@card) %> <br>

<% if @card.category == "Gift" %>
   <button id="share" type="button" name="button">Share Card</button>
<% end %>

<%#= link_to 'Back', cards_path %>


</div>
