<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @card.category %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @card.company_name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @card.amount %>
</p>

<p>
  <strong>Expire:</strong>
  <%= @card.expire %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
