<div class="form">

<h1 align="center"><%= @card.company_name %> <%= @card.category %> Card</h1>
<!-- <p>
  <%#= @card.category %> Card
</p> -->

<h1 align="center">
  <% if @card.amount? %><hr><strong>$<%= @card.amount %></strong><hr><% end %>
</h1>
<h3>
   <% if @card.card_number? %><strong>Card Nmber: <%= @card.card_number %></strong><% end %>
</h3>

<h3>
   <% if @card.expire? %><strong>Expire Date: <%= @card.expire %></strong><% end %>

</h3>
<button class="btn btn-success"type="button" name="button">
<h2>
<%= link_to 'Edit Card', edit_card_path(@card) %> <br>
</h2>
</button>



<% if @card.category == "Gift" %>
<button class="btn btn-primary" type="button" name="button">
   <%= link_to "SHARE CARD", cards_shared_path(@card), method: :put  %>
</button>
<% end %>



<%#= link_to 'Back', cards_path %>
</div>
