<!DOCTYPE html>
<html>
  <head>
    <title>CardVault</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.17/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.17/js/jquery.dataTables.js"></script>
  </head>

  <body>

     <p class="alert"><%= alert %></p>
    <%= yield %>
        <div class="footer">
      <ul class="bottom">
        <li><%= link_to cards_path do %>
            <i class="fas fa-home fa-5x"></i>
            <% end %>
        </li>
        <li><%= link_to do %>
            <i class="fas fa-search fa-5x"></i>
            <% end %>
        </li>
        <li><%= link_to new_card_path do %>
            <i class="fas fa-plus-square fa-5x"></i>
            <% end %>
        </li>
        <li><%= link_to do %>
            <i class="fas fa-heart fa-5x"></i>
            <% end %>
        </li>
        <li><%= link_to users_show_path do %>
            <i class="fas fa-user-alt fa-5x"></i>
            <% end %>
        </li>
      </ul>
    </div>
  </body>
</html>
