<!DOCTYPE html>
<html>
  <head>
    <title>CardVault</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.17/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.17/js/jquery.dataTables.js"></script>
  </head>

  <body>
     <div class="dropdown">
        <button id="toggle-dropdown">
            <i class="fas fa-bars"></i>
         </button>
         <div id="myDropdown"
           class="dropdown-items">
            <a href="#profile">
               <%= link_to "Profile", cards_path %>
               <!-- <i class="fas fa-user"></i>Profile -->
            </a>
            <a href="#settings">
               <i class="fas fa-cog"></i>Settings</a>
            <a href="#whatever">Whatever</a>
         </div>
     </div>
     <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>
    <%= yield %>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  </body>
</html>
